body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
}

.title {
    border-style: outset;
    border-width: 5px;
    border-color: aqua;
    font-size: 30px;
}

.detail {
    margin-top: 50px;
    font-size: 30px
}

.intro {
    text-align: center;
}

.projects {
    margin-top: 100px;
    text-align: center;
}